.main-mod {
  display: flex;
  margin: 1rem 0;

  &-col {
    position: relative;
    flex-grow: 1;
    flex-basis: 0;
    padding-bottom: 1rem;
    background-color: var(--color-grey-light);

    &:not(:last-child) {
      margin-right: 1rem;
    }

    h2 {
      padding: 0.5rem 1.5rem;
      margin-bottom: 0.5rem;
      color: var(--color-grey-light);
      background-color: var(--color-primary);
    }
    h3 {
      padding: 0 1.5rem;
    }
    .button1 {
      position: absolute;
      right: 2.5rem;
      bottom: 2.5rem;
    }
  }
}
