.main-content {
  height: 65rem;
  margin-left: 15rem;
  padding: 2rem;
  overflow: scroll;

  h1 {
    padding-bottom: 1rem;
  }
  h2 {
    padding: 1rem 0;
  }

  h3 {
    padding: 0.5rem 0;
  }

  .location-image {
    width: 80%;
  }

  .date-list {
    display: flex;
    li {
      margin-right: 2rem;
    }
  }
}
