.navbar {
  width: 100rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  cursor: pointer;

  &-menu {
    flex-grow: 1;
    padding: 1rem 0;
    text-align: center;

    &:not(:first-child) h2 {
      border-left: solid var(--color-grey-medium) 1px;
    }

    h2:hover {
      color: var(--color-primary);
    }

    h3 {
      padding: 0.75rem 0;
    }
  }

  &-submenu {
    display: none;
    width: 20rem;
    background-color: var(--color-white);
    position: absolute;
    margin-top: 1rem;
    z-index: 10;
    box-shadow: 0rem 0.2rem 1rem var(--color-grey-medium);
    &.show {
      display: block;
    }
  }
}
