.navbar {
  display: flex;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;

  &-menu {
    & h2,
    h3 {
      padding: 1rem;
      &:hover {
        color: var(--color-primary);
      }
    }
    &:hover {
      & .navbar-submenu {
        display: block;
      }
    }
  }

  &-submenu {
    list-style: none;
    display: none;
    width: 20rem;
    background-color: var(--color-white);
    position: absolute;
  }
}
