.navbar {
  display: flex;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;

  &-menu {
    flex-grow: 1;
    padding: 1rem 0;

    &:not(:first-child) h2 {
      border-left: solid var(--color-grey-medium) 1px;
    }

    h2,
    h3 {
      text-align: center;
      &:hover {
        color: var(--color-primary);
      }
    }
    h3 {
      padding: 1rem 0;
    }
  }

  &-submenu {
    list-style: none;
    display: none;
    width: 16rem;
    background-color: var(--color-white);
    position: absolute;
    margin-top: 1rem;
    z-index: 10;
    box-shadow: 0rem 0.2rem 1rem var(--color-grey-medium);
    &.show {
      display: block;
    }
  }
}
