.button1 {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  color: var(--color-white);
  background-color: var(--color-secondary);
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: var(--color-secondary-2);
  }
  &:active {
    transform: translate(2px, 2px);
  }
}
