// custom css properties/variables
:root {
  --color-primary: #ef9a1f;
  --color-secondary: #89b63e;
  --color-secondary-2: #9bd047;

  --color-grey-dark: #3e3e3e;
  --color-grey-medium: #5d5e60;
  --color-grey-light: #eeeeee;
  --color-white: #ffffff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; //1 rem = 10px;
  line-height: 1.5rem;
}

body {
  font-family: 'Sailec', 'Segoe UI', sans-serif;
  color: var(--color-grey-dark);
}

.app {
  // width: 90rem;
  margin: 0 auto;
}
