// custom css properties/variables
:root {
  --color-primary: #0a75da;
  --color-grey-dark: #3e3e3e;
  --color-grey-medium: #727272;
  --color-grey-light: #eeeeee;
  --color-white: #ffffff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; //1 rem = 10px;
}

body {
  font-family: Sailec, "Segoe UI", sans-serif;
  color: var(--color-grey-dark);
}

.app {
  width: 65%;
  margin: 0 auto;
}
